
<a href="javascript:void(0)" *ngIf="!isList" (click)="isList = true; reset()" class="btn-list btn btn-primary">List</a>
<a href="javascript:void(0)" *ngIf="isList" (click)="isList = false; add(); getBranches()" class="btn-new btn btn-warning mb-4 px-5">New</a>

<div *ngIf="isList">
  <div class="row mb-3">
    <div class="col-lg-4">
      Show
      <select style="width: 50px;height: 32px;" [(ngModel)]="pageSize" (change)="search()">
          <option *ngFor="let item of listPageSize" value={{item}}>
              {{item}}
          </option>
      </select>
      records
  </div>
    <div class="col-lg-4">
      <h4 class="text-center">Branch Information</h4>
    </div>
  </div>

  <table class="table table-bordered table-striped table-hover">
    <thead class="table-primary">
      <tr>
        <th>Sl</th>
        <th>Branch Name</th>
        <th class="text-center">Address</th>
        <th class="text-center">BranchId</th>
        
        <th class="text-center">Parent ID</th>
        <th class="text-center">Parent ID</th>
        <th class="text-center">Active / Inactive</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pagedItems; let i = index">
        <td>{{ pageIndex * pageSize + i + 1 }}</td>
        <td>{{ item.branchName }}</td>
        <td class="text-center">{{ item.address }}</td>

        <td class="text-center ">{{ item.branchId }}</td>
        <td class="text-center text-primary">{{ item.parentId }}</td>
        <td class="text-center text-primary">{{ getBranchName(item.parentId) }}</td>
        <td class="text-center">
          <span class="badge px-2 py-2 w-50" [ngClass]="{'bg-success': item.isActive, 'bg-danger': !item.isActive}">
            {{ item.isActive ? 'Active' : 'Inactive' }}
          </span>
        </td>
        <td class="w-25 text-center">
          <button class="btn btn-sm btn-outline-warning text-primary me-2 px-3" (click)="edit(item)">Edit</button>
          <button class="btn btn-sm btn-outline-danger px-3" (click)="remove(item.branchId)" data-bs-toggle="modal" data-bs-target="#confirmModal">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!isList">
  <h4 class="text-center">Branch Entry Form</h4>
  <div class="row g-3">
    <div class="col-md-6">
      <label for="branchName" class="form-label">Branch Name:</label>
      <input type="text" id="branchName" [(ngModel)]="branchs.branchName" class="form-control" />
    </div>

    <div class="col-md-6">
   
      <div>
        <label for="parentDropdown" class="form-label">Parent Branch:</label>
        <select  id="senderZone" [(ngModel)]="branchs.parentId" (change)="onParentBranchChange()" class="form-select"> 
        <ng-container *ngFor="let branch of listBranchs" >
          <option *ngIf="branch.parentId == null" [ngValue]="branch.branchId">
            {{ branch.branchName }}
          </option>
        </ng-container>
        
      </select>
      </div>
      
     
      
    </div>
    <div class="col-md-6">
      <label for="address" class="form-label">Branch Address:</label>
      <input type="text" id="adress" [(ngModel)]="branchs.address" class="form-control" />
    </div>
    <div class="col-md-6">
     
  
      <label for="isActive" class="form-label">Status:</label>
      <select id="isActive" [(ngModel)]="branchs.isActive" class="form-select">
        <option [ngValue]="true">Active</option>
        <option [ngValue]="false">Inactive</option>
      </select>
    </div>

    <div class="col-md-12 mt-5">
      <button type="button" class="btn btn-secondary" *ngIf="branchs.branchId > 0" (click)="update()">Update</button>
      <button type="button" class="btn btn-primary" *ngIf="branchs.branchId === 0" (click)="add()">Add</button>
    </div>
  </div>
</div>


<div *ngIf="isList" class="mt-3">
    <button class="btn btn-outline-secondary me-2" [disabled]="pageIndex === 0" (click)="prevPage()">Previous</button>
    <button class="btn btn-outline-secondary" [disabled]="(pageIndex + 1) * pageSize >= listBranchs.length" (click)="nextPage()">Next</button>
  </div>
  