
<a href="javascript:void(0)" *ngIf="!isList" (click)="isList = true; reset()" class="btn-list btn btn-primary">List</a>
<a href="javascript:void(0)" *ngIf="isList" (click)="isList = false; add(); getBranches()" class="btn-new btn btn-warning mb-4 px-5">New</a>

<div *ngIf="isList">
  <div class="row mb-3">
    <div class="col-lg-4">
      Show
      <select style="width: 50px;height: 32px;" [(ngModel)]="pageSize" (change)="search()">
          <option *ngFor="let item of listPageSize" value={{item}}>
              {{item}}
          </option>
      </select>
      records
  </div>
    <div class="col-lg-4">
      <h4 class="text-center">Branch Information</h4>
    </div>
  </div>

  <table class="table table-bordered table-striped table-hover">
    <thead class="table-primary">
      <tr>
        <th>Sl</th>
        <th>Branch Name</th>
        <th class="text-center">Address</th>
        <th class="text-center">BranchId</th>
        
        <th class="text-center">Parent ID</th>
        <th class="text-center">Parent ID</th>
        <th class="text-center">Active / Inactive</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pagedItems; let i = index">
        <td>{{ pageIndex * pageSize + i + 1 }}</td>
        <td>{{ item.branchName }}</td>
        <td class="text-center">{{ item.address }}</td>

        <td class="text-center ">{{ item.branchId }}</td>
        <td class="text-center text-primary">{{ item.parentId }}</td>
        <td class="text-center text-primary">{{ getBranchName(item.parentId) }}</td>
        <td class="text-center">
          <span class="badge px-2 py-2 w-50" [ngClass]="{'bg-success': item.isActive, 'bg-danger': !item.isActive}">
            {{ item.isActive ? 'Active' : 'Inactive' }}
          </span>
        </td>
        <td class="w-25 text-center">
          <button class="btn btn-sm btn-outline-warning text-primary me-2 px-3" (click)="edit(item)">Edit</button>
          <button class="btn btn-sm btn-outline-danger px-3" (click)="remove(item.branchId)" data-bs-toggle="modal" data-bs-target="#confirmModal">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!isList">
  <h4 class="text-center">Branch Entry Form</h4>
  <div class="row g-3">
    <div class="col-md-6">
      <label for="branchName" class="form-label">Branch Name:</label>
      <input type="text" id="branchName" [(ngModel)]="branchs.branchName" class="form-control" />
    </div>

    <div class="col-md-6">
      <!-- <label for="parentDropdown" class="form-label">Parent Branch:</label>
      <select id="parentDropdown" [(ngModel)]="branchs.ParentId" class="form-select">
        <option value="0" disabled>Select Parent</option>
        <option *ngFor="let branch of listBranchs" [value]="branch.BranchId">
          {{ branch.BranchName }}
        </option>
      </select> -->
      <!-- <div class="col-md-3">
        <label for="senderZone" class="form-label text-primary">Sender Zone*</label>
        <select 
          id="senderZone" 
          [(ngModel)]="selectedParentBranch" 
          (change)="onParentBranchChange()" 
          class="form-select">
        
          <ng-container *ngFor="let branch of listBranchs" >
            <option *ngIf="branch.parentId == null" [ngValue]="branch.branchId">
              {{ branch.branchName }}
            </option>
          </ng-container>
          
        </select>
      </div> -->
      <div>
        <label for="parentDropdown" class="form-label">Parent Branch:</label>
        <select  id="senderZone" [(ngModel)]="branchs.parentId" (change)="onParentBranchChange()" class="form-select"> 
        <ng-container *ngFor="let branch of listBranchs" >
          <option *ngIf="branch.parentId == null" [ngValue]="branch.branchId">
            {{ branch.branchName }}
          </option>
        </ng-container>
        
      </select>
      </div>
      
      <!-- <div>
        <label for="parentDropdown" class="form-label">Parent Branch:</label>
        <select id="parentDropdown" [(ngModel)]="branchs.parentId" class="form-select">
          <option [value]="null" disabled>Select Parent</option>
          <option *ngFor="let branch of dropdownBranches" [value]="branch.value">
            {{ branch.label }}
          </option>
          <optgroup *ngFor="let branch of dropdownBranches" [label]="branch.label">
            <option *ngFor="let child of branch.children" [value]="child.value">
              {{ child.label }}
            </option>
          </optgroup>
        </select>
      </div> -->
      
    </div>
    <div class="col-md-6">
      <label for="address" class="form-label">Branch Address:</label>
      <input type="text" id="adress" [(ngModel)]="branchs.address" class="form-control" />
    </div>
    <div class="col-md-6">
     
  
      <label for="isActive" class="form-label">Status:</label>
      <select id="isActive" [(ngModel)]="branchs.isActive" class="form-select">
        <option [ngValue]="true">Active</option>
        <option [ngValue]="false">Inactive</option>
      </select>
    </div>

    <div class="col-md-12 mt-5">
      <button type="button" class="btn btn-secondary" *ngIf="branchs.branchId > 0" (click)="update()">Update</button>
      <button type="button" class="btn btn-primary" *ngIf="branchs.branchId === 0" (click)="add()">Add</button>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Are you sure to remove?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-danger">
        <button type="button" class="btn btn-outline-secondary me-2" data-bs-dismiss="modal" (click)="reset()">No</button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="remove(selectedBranchId)">Yes</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
<div *ngIf="isList" class="mt-3">
    <button class="btn btn-outline-secondary me-2" [disabled]="pageIndex === 0" (click)="prevPage()">Previous</button>
    <button class="btn btn-outline-secondary" [disabled]="(pageIndex + 1) * pageSize >= listBranchs.length" (click)="nextPage()">Next</button>
  </div>
  